body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-group{
    display: flex;
    gap: 20px;
}
button{
    font-size: 32px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
}
button.cancel{
    background-color: red;
}
button.submit{
    background-color: blueviolet;
}
button.save{
    background-color: green;
}
button:hover{
    transform: scale(1.5);
    opacity: 0.095;
}
